<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.ttshop.dao.TbItemCustomMapper" >

  <sql id="Base_Column_List" >
   i.id, i.title, i.sell_point as sellPoint, i.price, i.num, i.barcode, i.image, i.cid, i.status, i.created, i.updated,
    c.name as catName
</sql>

  <select id="listItemsByPage" parameterType="com.zl.ttshop.dto.Page" resultType="com.zl.ttshop.pojo.vo.TbItemCustom">
    select
    <include refid="Base_Column_List" />
    from tb_item i left join tb_item_cat c on i.cid=c.id
    where i.status !=3
    order by i.id desc
    limit #{offset},#{rows}
  </select>

  <select id="countItemsByCondition" resultType="_long">
    select
    count(*)
    from tb_item
    where status !=3
  </select>
</mapper>